*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 700px;
    margin: 30px auto;
    text-align: center;
    height: 100%;
}
h1{
    margin-bottom: 30px;
    margin-top: 20px;
}
.player{
 margin-right: 80px;
}
label{
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.head{
    width: 200px;
    height: 200px;
    background-image: url("head.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px auto;
    
}
.tail{
    width: 200px;
    height: 200px;
    background-image: url("tail.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px auto;
    
}
.player-selected, .computer-selected, .player-score, .computer-score{
    color: sandybrown;
}
button{
    width: 100px;
    height: 30px;
    font-size: 24px;
}
.result{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
    color: green;
}

.start{
    height: 70px;
    width: 200px;
    margin-top: 20px;
}
.d-none{
    display: none;
}


